<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог газов</title>
    <link rel="stylesheet" href="/static/css/style.css?v=31">
</head>
<body class="catalog-page">
    <main class="catalog-screen">
        <h1 class="catalog-title">Каталог</h1>

        <form class="catalog-search" action="/" method="get">
            <input
                type="text"
                name="search"
                placeholder="Поиск"
                value="{{ search }}"
            >
        </form>

        <section class="gas-grid">
            {% for gas in gases %}
            <article class="gas-card">
                <a href="/gas/{{ gas.id }}" class="gas-card-link">
                    <img
                        src="{{ gas.image_url }}"
                        alt="{{ gas.title }}"
                        class="gas-card-image"
                    >

                    <h2 class="gas-card-title">{{ gas.title }}</h2>

                    <p class="gas-card-description">
                        {{ gas.description }}
                    </p>

                    <p class="gas-card-mass">
                        {{ gas.molar_mass }} г/моль
                    </p>
                </a>

                <div class="gas-card-actions">
                    <a href="/gas/{{ gas.id }}" class="details-button">
                        Подробнее
                    </a>

                    <div class="like-button" aria-label="Количество лайков">
                        <span class="like-icon">♡</span>
                        <span class="like-count">{{ gas.likes_count }}</span>
                    </div>
                </div>

                <form action="/gas/{{ gas.id }}/delete" method="post" class="delete-gas-form">
                    <button type="submit" class="delete-gas-button">
                        Удалить
                    </button>
                </form>
            </article>
            {% endfor %}
        </section>
    </main>

    <nav class="bottom-nav">
    <a href="/" class="bottom-nav-link active">
        Каталог газов
    </a>

   <a href="/feed" class="bottom-nav-link">
        Лента
    </a>

    <a href="/calculation" class="bottom-nav-link">
        Молярный расчет
    </a>
</nav>
</body>
</html>
